.deck{
    padding: 30px;
    font-family:cursive;
    font-size:xx-large;
    font-weight: bolder;
}
body{
    background-color: black;
    font-display:block;
    color:white;

}
input{
    background-color:#0b83a8;
    
}